.reason-container{
    padding-bottom: 6rem;
}

.reasons{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reason{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reason > div h1 {
    color: var(--text-sub-btn-color);
}

.reason-line{
    width: 20%;
    margin: 20px 0;
    border: 1px solid var(--bg-sub-second-color); 
}

@media screen and (max-width: 770px) {
    .reasons{
        width: 90%;
        text-align: center;
    }
    .reason{
        flex-direction: column;
    }
}