.section-title-container{
    text-align: center;
    padding: 90px 0;
}

.section-main-title{
    font-size: 72px;
    font-weight: 400;
    color: var(--text-sub-btn-color);
    font-family: 'Noto Sans JP', sans-serif;
}

.section-sub-title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 6px;
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 576px) {
    .section-title-container{
        padding: 40px 0;
    }

    .section-main-title{
        font-size: 40px;
    }
    .section-sub-title{
        font-size: 16px;
    }
}