footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 2rem;
}

.footer-menu-container{
    display: flex;
    gap: 20px;
}

.footer-menu-sub-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-menu{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.web-logo-footer{
    width: 120px;
}