nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding: 2rem 3rem;
    background-color: var(--bg-main-color);
    color: var(--text-sub-btn-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    position: fixed;
    width: calc(100% - 6rem);
    z-index: 1;
}

.warple-nav-link-container{
    display: flex;
    gap: 1rem;
}

.warple-navlink{
    text-decoration: none;
    color: var(--text-sub-btn-color);
    text-align: center;
    transition: 0.1s;
}

.warple-navlink:active{
    color: var(--active-color);
}

.warple-navlink-title-eng{
    font-size: 10px;
    text-transform: uppercase;
}

.warple-navlink-title-jp{
    font-size: 15px;
}

.small-screen-navbar{
    display: none;
}

/* Medium Screen */
@media screen and (max-width: 950px)  {
    nav{
        padding: 1rem 18px;
        width: calc(100% - 2rem);
    }
    .width-screen-navbar{
        display: none;
    }

    .small-screen-navbar{
        display: block;
    }
}